@import "../scss/mixins";

.tracks {
  height: fit-content;
  padding-bottom: 80px;
  background: #6911cc;
  position: relative;

  .round-vector {
    position: absolute;
    bottom: 70px;
  }

  .crescent-vector {
    position: absolute;
    right: 70px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .cylindrical {
    position: absolute;
    right: 0px;
    bottom: -12px;
  }

  h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
  }

  .track-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 40px;
    width: 60%;
    margin: 50px auto;

    li {
      padding: 30px;
      border-radius: 8px;

      list-style-type: none;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-weight: 700;
        font-size: clamp(1.4rem, 4vw, 2rem);
        // line-height: 41px;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        margin-bottom: 16px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;

        color: #000000;
      }

      .icons {
        display: flex;

        > span {
          margin-right: 10px !important;

          &:last-child {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}

.about-cohort {
  .tracks-analytics {
    padding: 0;
    .container {
      padding: 0;
      width: 100%;
    }
  }
  &--item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    padding-top: 90px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    &--text {
      width: 100%;

      h3 {
        font-size: 39px;
        line-height: 47px;
        letter-spacing: -0.04em;
        margin-bottom: 22px;
      }

      p {
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 27px;
      }

      button {
        background: transparent;
      }

      @include mobile {
        padding: 32px var(--page-container-margin);
      }
    }

    &--image {
      max-width: 515px;
      width: 100%;

      > span {
        border-radius: 8px !important;
      }
      @include mobile {
        justify-self: center;
      }
    }

    &:nth-child(odd) {
      .about-item--image {
        display: flex;
        justify-content: flex-end;
      }

      .about-item--text {
        display: flex;
        flex-direction: column;
        @include desktop {
          padding-left: 119px;
          order: 2;
        }
      }
    }

    &:nth-child(even) {
      .text {
        display: flex;
        justify-content: flex-end;
        @include desktop {
          padding-right: 119px;
          order: 1;
        }
      }

      .about-item--image {
        @include desktop {
          order: 2;
        }
      }
    }
  }

  .analytics {
    margin-bottom: 32px;

    h3 {
      font-size: 50px;
    }
  }
}

.analytics--border {
  border-right: 2px solid #ffccec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70%;
  margin-top: 30px;

  &:last-child {
    border-right: none;
    margin-top: 30px;
  }
}

.cohort-summary {
  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;
    // margin-left: 70px;
    width: 85%;
    // margin: 0 auto;
    @include mobile {
      // margin-left: 1px;
    }
  }

  .summary-content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    // width: 85%;
    margin: 0 auto;
    @include mobile {
      flex-direction: column;
    }

    &-text {
      flex: 50;

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        @include mobile {
          flex: 50;
        }
      }
    }
  }

  .metrics {
    background-color: var(--background-color);
    border-radius: 8px;
    height: fit-content;
    padding: 30px 20px 20px 30px;
    margin-bottom: 20px;

    @include mobile {
      margin-top: 20px;
      width: 100%;
    }

    &-heading {
      text-align: left;
      color: #000000;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: -0.04em;
    }

    &-container {
      border-radius: 16px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;

      li {
        h3 {
          font-weight: 400;
          font-size: 58px;
          line-height: 87px;
        }
        span {
          font-weight: 500;
          font-size: 13px;
          line-height: 134%;
          text-align: center;
        }

        &:not(:last-child) {
          padding-right: 20px;
        }
      }
    }

    h1 {
      padding-left: 10px;
      padding-bottom: 15px;
    }

    p {
      font-size: 16 px;
    }

    .numbers {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0 auto;
    }
  }
}

.faq {
  margin-top: 50px;
}

.thick-line {
  background-color: #f1f1f1;

  margin-top: 30px;
  width: 70%;
  height: 13px;
}

.contain {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
}

.circle {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin-right: 10px;
  margin-top: 20px;
}

.line {
  width: 80%;
  height: 7px;
  background-color: #f1f1f1;
  margin-top: -15px;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.button {
  background-color: red;
  width: 30%;
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.containner {
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
  }
}

.cohorts__accordion_button {
  width: 100%;
  text-align: end;
}
// .cohort-content {
//   width: 95%;
//   margin: 0 auto;
//   .container {
//     padding: 0;
//     width: 100%;
//   }
// }

// .summary-cohort-content {
//   width:100%;
//   .container {
//     padding: 0;
//     width: 90%;
//     margin: 0 auto;
//   }
// }

.app__video {
  height: 200px;

  position: relative;

  display: grid;
}

.app__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.app__video-overlay {
  width: max-content;
  height: max-content;
  display: grid;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.app__video-overlay_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-background);
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
}
