.about {
  .about-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @include mobile {
      grid-template-columns: 1fr;
    }

    &--text {
      width: 100%;

      h3 {
        font-size: 39px;
        line-height: 47px;
        letter-spacing: -0.04em;
        margin-bottom: 22px;
      }

      p {
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 27px;

        @include desktop {
          width: 437px;
        }
      }

      button {
        background: transparent;
      }

      @include mobile {
        padding: 32px var(--page-container-margin);
      }
    }

    &--image {
      width: 100%;
      padding: 90px 0;

      > span {
        border-radius: 8px !important;
      }
    }

    &:nth-child(odd) {
      .about-item--image {
        display: flex;
        justify-content: flex-end;
      }

      .about-item--text {
        @include desktop {
          padding-left: 119px;
          order: 2;
        }
      }
    }

    &:nth-child(even) {
      .text {
        display: flex;
        justify-content: flex-end;
        @include desktop {
          padding-right: 119px;
          order: 1;
        }
      }

      .about-item--image {
        @include desktop {
          order: 2;
        }
      }
    }
  }
}

.mentees--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  .mentee {
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 8px;

    .mentee-track {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
    }

    .menteesNo {
      display: flex;
      align-items: center;
      gap: 20px;

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 60px;
      line-height: 72px;
    }
  }
}

.tracks {
  height: 1000px;
  margin-bottom: 80px;
  // background-color: var(--primary-color);
  background: #6911cc;

  position: relative;

  .round-vector {
    position: absolute;
    bottom: 70px;
  }

  .crescent-vector {
    position: absolute;
    right: 70px;
  }

  .cylindrical {
    position: absolute;
    right: 0px;
    bottom: -12px;
  }

  h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
  }

  .track-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    width: 60%;
    margin: 50px auto;

    li {
      padding: 30px;
    border-radius: 8px;

      list-style-type: none;
      background-color: #ffffff;

      h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        margin-bottom: 16px;
      }

      p {
        font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom:20px ;


color: #000000;
      }

      .icons {
        display: flex;
        justify-content: space-between;
      }
    }

    &-item {
    }
  }
}
