.analytics--border {
  border-right: 2px solid #FFCCEC;
  display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  height:70%;
  margin-top:30px;

  &:last-child {
    border-right: none;
    margin-top:30px   
    
  }
}


