@import "../scss/mixins";

.tracks {
  height: fit-content;
  margin-bottom: 80px;

  background: #6911cc;

  position: relative;

  .round-vector {
    position: absolute;
    bottom: 70px;
  }

  .crescent-vector {
    position: absolute;
    right: 70px;
  }

  .cylindrical {
    position: absolute;
    right: 0px;
    bottom: -12px;
  }

  h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
  }

  .track-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    width: 60%;
    margin: 50px auto;

    li {
      padding: 30px;
      border-radius: 8px;

      list-style-type: none;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        margin-bottom: 16px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;

        color: #000000;
      }

      .icons {
        display: flex;

        > span {
          margin-right: 10px !important;

          &:last-child {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}

.about-cohort {
  .tracks-analytics {
    padding: 0;
    .container {
      padding: 0;
      width: 100%;
    }
  }
  &--item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;

    @include mobile {
      grid-template-columns: 1fr;
    }

    &--text {
      width: 100%;

      h3 {
        font-size: 39px;
        line-height: 47px;
        letter-spacing: -0.04em;
        margin-bottom: 22px;
      }

      p {
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 27px;

        @include desktop {
          width: 437px;
        }
      }

      button {
        background: transparent;
      }

      @include mobile {
        padding: 32px var(--page-container-margin);
      }
    }

    &--image {
      width: 100%;
      padding: 90px 0;

      > span {
        border-radius: 8px !important;
      }
    }

    &:nth-child(odd) {
      .about-item--image {
        display: flex;
        justify-content: flex-end;
      }

      .about-item--text {
        display: flex;
        flex-direction: column;
        @include desktop {
          padding-left: 119px;
          order: 2;
        }
      }
    }

    &:nth-child(even) {
      .text {
        display: flex;
        justify-content: flex-end;
        @include desktop {
          padding-right: 119px;
          order: 1;
        }
      }

      .about-item--image {
        @include desktop {
          order: 2;
        }
      }
    }
  }

  .analytics {
    margin-bottom: 32px;

    h3 {
      font-size: 50px;
    }
  }
}

.analytics--border {
  border-right: 2px solid #ffccec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70%;
  margin-top: 30px;

  &:last-child {
    border-right: none;
    margin-top: 30px;
  }
}

.cohort-summary {
  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;
  }

  .summary-content {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
    }
  }

  &-text {
    flex: 70;
    margin-right: 30px;

    p {
      margin-top: 18px;

      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
    }
  }

  .metrics {
    background-color: var(--background-color);
    padding: 20px;

    @include mobile {
      margin-top: 20px;
    }

    &-heading {
      text-align: left;
      color: #000000;
      font-size: 24px;
      line-height: 31px;
      letter-spacing: -0.04em;
    }

    &-container {
      border-radius: 16px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;

      li {
        h3 {
          font-weight: 400;
          font-size: 58px;
          line-height: 87px;
        }

        span {
          font-weight: 500;
          font-size: 13.0588px;
          line-height: 134%;
          /* or 17px */

          text-align: center;

          color: #0f0f0f;
        }
      }
    }

    h1 {
      padding-left: 10px;
      padding-bottom: 15px;
    }

    p {
      font-size: 16 px;
    }

    .numbers {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0 auto;
    }
  }
}

.cohort-content {
  .container {
    padding: 0;
    width: 100%;
  }
}
