section {
  background: var(--primary-color-inverse);
  position: relative;

  .container {
    @include mobile {
      .cylindrical {
        display: none;
      }
    }

    .feedback {
      width: 100%;
      margin: 0px auto 0px auto;

      .success {
        display: flex;
        justify-content: center;
      }

      &-content {
        align-items: center;
        text-align: center;

        h2 {
          @include mobile {
            font-size: 25px;
          }
        }

        p {
          @include mobile {
            font-size: 20px;
          }

          margin: 15px 0px 15px 0;
          font-size: 16px;
        }

        small {
          @include mobile {
            font-size: 15px;
          }

          margin: 15px 0px 15px 0;
          font-size: 10px;
        }

        .icons-container {
          background-color: var(--color-background);
          border: 1px solid var(--primary-color);
          border-radius: 8px;
          padding: 22px;
          width: 352px;
          margin: 0 auto;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
      }

      &-images {
        @include mobile {
          width: 100%;
        }

        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

        .vector {
          position: absolute;

          @include mobile {
            width: 40px;
            height: 40px;
          }

          width: 80px;
          height: 80px;

          &:nth-child(1) {
            top: 5%;
            left: 10%;
          }

          &:nth-child(2) {
            top: 5%;
            right: 20%;
          }
        }
      }
    }

    .cylindrical-images {
      padding-top: 170px;
      width: 100%;

      @include mobile {
        margin-top: 200px;
      }

      &>div {
        >span {
          position: absolute !important;

          &:nth-of-type(1) {
            bottom: 2px;
            left: 40px;
          }

          &:nth-of-type(2) {
            bottom: -2px;
            right: 0px;
          }
        }
      }
    }
  }
}