@import "../scss/mixins";

footer {
	background-image: url("/assets/images/blockchain-icon.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--color-black);
	position: relative;

	.footer-content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    &_form {
			display: flex;

			.footer-card {
				box-sizing: border-box;
				margin-inline: 60px;
				border: 1px solid rgba(219, 219, 219, 0.5);
				border-radius: 12px;
				width: 463px;
				height: 264px;
				background-color: #111111;
				margin-top: 55px;
				padding-top: 32px;
				padding-left: 32px;

				.card-text {
					color: #ababab;
					width: 341px;
					height: 48px;
					line-height: 150%;
					margin-block: 18.7px;
					font-weight: 250px;
					font-style: normal;
				}

				#user-email {
					width: 276px;
					height: 46px;
					background-color: #232323;
					border: 1px solid rgba(109, 109, 109, 0.2);
					border-radius: 4px;
					color: var(--color-white);
					padding-left: 10px;
				}

				.btn-container {
					display: inline;
					margin-left: 10px;
				}
			}
		}
		.image-wrapper {
		
			> span {
				position: absolute !important;
			}

			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					animation: bounce 2s #{"0." + ($i * 2)}s infinite;
				}
			}

			@keyframes bounce {
				0%,
				100% {
					transform: translateY(0);
				}

				50% {
					transform: translateY(4px);
				}
			}
		}

	

		.flag-wrapper {
			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					animation: bounce 2s #{"0." + ($i * 2)}s infinite;
				}
			}

			@keyframes bounce {
				0%,
				100% {
					transform: translateY(0);
				}

				50% {
					transform: translateY(4px);
				}
			}
		}

		.footer-links {
			margin-top: 55px;
			margin-inline-start: 55px;

			h4 {
				text-transform: uppercase;
				color: var(--primary-color);
				letter-spacing: -0.02em;
				line-height: 20px;
				font-weight: 700;
				width: 91px;
				height: 20px;
			}

			.footer-list {
				color: var(--color-white);
				line-height: 20px;
				width: 47px;
				height: 20px;
				font-size: 16px;
				margin-top: 15px;
			}

			.footer-list > li {
				margin-bottom: 9px;
			}

			.contact-links {
				width: 128px;
			}
		}

		.img-wrapper {
			height: 121px;
			width: 113px;
			position: relative;
			top: 60%;
			left: 100%;

			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					animation: bounce 2s #{"0." + ($i * 2)}s infinite;
				}
			}

			@keyframes bounce {
				0%,
				100% {
					transform: translateY(0);
				}

				50% {
					transform: translateY(4px);
				}
			}
		}
	}

	.copyright-section {
		padding-block: 20px;
		background-color: var(--primary-color);
		text-align: center;
		color: var(--color-white);
		line-height: 19px;
	}
}
