@import "../scss/mixins";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  &.header-bg {
    background: url("/assets/images/header-bg.svg"),
      linear-gradient(180deg, rgba(255, 255, 255, 0.68) 0%, #ffffff 65.37%);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
  }
  padding-top: 40px;
  padding-bottom: 120px;

  .hero_image {
    position: relative;
    width: 500px;
    @include mobile {
      margin-top: 200px;
    }
    // @media (max-width: 1140px) {
    //   margin-bottom: 100px;
    //   width: 100%;
    // }

    & > div {
      position: relative;

      > span {
        position: absolute !important;

        &:nth-of-type(1) {
          position: relative !important;
          z-index: 0;
        }

        &:nth-of-type(2) {
          bottom: 82px;
          left: -40px;
        }

        &:nth-of-type(3) {
          top: 40px;
          right: -32px;
        }

        &:nth-of-type(4) {
          bottom: 23px;
          right: -75px;
        }
      }

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          animation: bounce 2s #{"0." + ($i * 2)}s infinite;
        }
      }

      @keyframes bounce {
        0%,
        100% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(4px);
        }
      }

      .hero-image {
        width: 40%;
        animation: beaming-animation 5s infinite;

        @keyframes beaming-animation {
          0%,
          100% {
            transform: scale(0.95);
            z-index: 1;
          }
          50% {
            transform: scale(1);
            z-index: 1;
          }
        }
      }
    }
  }

  .cta {
    .content {
      @include desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hero_content {
          width: 50%;
          h1 {
            max-width: 500px;
          }
          p {
            max-width: 689px;
            margin-top: 25px;
          }
          .button-container {
            margin-top: 38px;
            display: flex;
            justify-content: flex-start;

            & :first-child {
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
  .Support{
font-style: normal;
font-weight: 700;
font-size: 22px;
text-align: center;
color: #969696;


  }

  .support-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .support-logos{
    margin-top: 100px;
    align-items: center;
  }

  .first-group{
    display: flex;
    gap: 64px;
    margin-bottom: 43px;
    margin-top: 29.19px;
  
  }
  .second-group{
    display: flex;
    gap: 64px;

  }

  .introduction{
    margin-top: 236px;
    align-items: center;
  }

  .intro-header{
    font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 66px;
letter-spacing: -0.04em;
text-align: center;
color: #000000;

  }

  .intro-text{
    font-family: 'Aeonik';
font-style: normal;
font-size: 20px;
line-height: 27px;
text-align: center;
width: 956px;
height: 191px;

color: #000000;

  }

  .first-text{
  
    
    margin-top: 30px;
    
  
  }

  .intro-container{
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    
  
  }




  .wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
  
}

.join-community-container{
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  gap: 91px;
  background: #7D0BFE;
  border-radius: 16px;
  width: 1100px;
  padding-top: 77px;
  margin: 200px;
  // position: relative;



  // width: fit-content;
}
.join-community-text-and-cta{
  width: 465px;
}
.join-community-text-and-cta h3{
  // width: 373px;
  // height: 132px;
  // left: 0px;
  // top: 0px;
  
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  /* or 122% */
  
  letter-spacing: -0.04em;
  
  color: #FFFFFF;
}
.join-community-text-and-cta p{
  // width: 470px;
  // height: 54px;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFDCF2;
  margin-top: 19px;
}
.join-community-img{
  bottom: 0px;
  padding: 0;
  display: flex;
  // position: absolute;
  // align-items: flex-end;
  // align-items: baseline;

}

.arrow-img{
position: absolute;
align-items: center;
left: 59.07%;
right: 35.66%;
bottom: 84.97%;
border: 2.5px solid #000000;
}



.community-container {
background: #7D0BFE;
border-radius: 16px;
display: flex;
flex-direction: row;
margin: 200px;
}



.community-card {
    display:flex;
    flex-direction:column;
    width:50%;
    padding:72px; 
}


.community-img{
  display: flex;
}

.community-card h3 {
  width: 373px;
  height: 132px;
  left: 0px;
  top: 0px;
  
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  /* or 122% */
  
  letter-spacing: -0.04em;
  
  color: #FFFFFF;
  
}

.community-card p {
  width: 470px;
  height: 54px;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFDCF2;
  margin-top: 19px;
}  









// who we are styles


.numbers-section{
  margin-top: 133px;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

  .number-header{
    font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 66px;
letter-spacing: -0.04em;
text-align: center;
color: #000000;
  }


  .our-numbers{
background: #0F0F0F;
border-radius: 16px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;




  }



  li {
    display: inline-block;
    font-size: 25px;
    list-style-type: none;
    padding: 1em;
    color: white;
    align-items: center;
  }
  
   

  

  & > .community-txt{
    color:purple;
  }
  
}
