@import "../scss/mixins";

main {
  //HERO SECTION

  .mentorship-section {
    width: 77%;
    margin: 40px auto;

    .mentorship-hero {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .hero-texts {
        margin-left: 125px;

        h1 {
          max-width: 546px;

          .colored-text {
            text-transform: capitalize;
          }
        }

        .btn-container {
          margin-top: 32px;

          & :first-child {
            margin-right: 16px;
            line-height: 28px;
          }
        }
      }

      .hero-images {
        width: 620px;

        @include mobile {
          margin: 30px auto;
        }

        & > div {
          position: relative;

          > span {
            position: absolute !important;

            &:nth-of-type(1) {
              position: relative !important;
              z-index: 0;
              animation: none !important;
            }

            &:nth-of-type(2) {
              bottom: 60%;
              right: 75%;
            }

            &:nth-of-type(3) {
              top: 13%;
              right: 19%;
            }

            &:nth-of-type(4) {
              top: 77%;
              right: 65%;
            }

            &:nth-of-type(5) {
              top: 60%;
              right: 20%;
            }

            @for $i from 2 through 5 {
              &:nth-of-type(#{$i}) {
                animation: bounce 2s #{"0." + ($i * 2)}s infinite;
              }
            }

            @keyframes bounce {
              0%,
              100% {
                transform: translateY(0);
              }

              50% {
                transform: translateY(4px);
              }
            }
          }
        }
      }
    }
  }

  .support-section {
    margin-top: 150px;
    margin-bottom: 100px;

    h1 {
      color: var(--color-black);
    }
  }

  .about-section {
    text-align: center;
    position: relative;
    .about--heading {
      h1 {
        display: inline-block;
      }
      > span {
        transform: rotate(90deg);
        left: -60px;
        top: 30px;
        position: absolute;
      }
    }

    .about--content {
      .about-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #000000;
        margin: 45px auto;
      }

      button {
        margin-right: 16px;
      }
    }
  }

  // JOINING CRITERIA SECTION

  .criteria-section-wrapper {
    margin-top: 50px;
    margin-right: 0;
    background-image: url("/assets/images/mentorship-criteria-bg.png");
    background-position-y: top;
    background-position-x: left;
    background-color: #fff;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    .criteria-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 50px;

      .criteria-img-wrap {
        margin-left: -50px;
        margin-top: 30px;
      }

      > div {
        flex: 1;
      }

      > .criteria-content {
        margin-top: 150px;

        > h1 {
          font-weight: 700;
          font-size: 54px;
          line-height: 66px;
          letter-spacing: -0.04em;
          color: #ffd3ef;
          margin-bottom: 40px;
        }

        > div:first-of-type {
          margin-bottom: 30px;

          > div {
            display: flex;

            > span {
              margin-right: 20px;
              color: var(--color-primary-light);
            }

            > p {
              font-weight: 400;
              font-size: 18px;
              line-height: 150%;
              margin-bottom: 10px;
              color: var(--color-white);
            }
          }
        }
      }
    }
  }

  // HOW IT WORKS SECTION

  .how-it-works-section {
    margin-top: 100px;

    .tab-button-line {
      height: 10px;
      background-color: var(--primary-color);
      min-width: 98%;
      max-width: 98%;
      margin: auto;
      margin-top: 50px;
      margin-bottom: -45px;
    }

    .tab-button-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      > .tab-button {
        background-color: #000000;
        border-radius: 50%;
        width: 77px;
        height: 77px;
        padding: 7px;
        cursor: pointer;
        border: none;
        outline: none;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          height: 100%;
          width: 100%;
          font-size: 34px;
          font-weight: 700;
          margin-left: -2px;
          margin-top: -1px;
        }
      }
    }

    .mentorship-phase-content {
      border: 2px solid black;
      margin-top: 50px;
      padding: 50px;
      border-radius: 16px;

      h2 {
        font-size: 32px;
        line-height: 150%;
        color: var(--primary-color);
        margin-bottom: 30px;
      }

      > p {
        font-weight: 400;
      }
    }
  }

  //HANDS ON TRAINING SECTION

  .training-section {
    display: flex;
    flex-direction: row;
    height: 600px;
    margin-top: 100px;
    position: relative;

    > div {
      flex: 1;
    }

    > .training-content {
      background-color: var(--color-black);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > div {
        width: 70%;
        min-width: 400px;

        > h1 {
          color: var(--color-white);
          margin-bottom: 50px;

          > span {
            color: var(--color-primary-light);
          }
        }
      }
    }

    > .training-images {
      z-index: 1;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > .training-section-icon-right {
      position: absolute;
      right: -30px;
      top: -80px;
      animation: bounce 2s infinite;
      @keyframes bounce {
        0%,
        100% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(4px);
        }
      }
    }

    z-index: -10;
  }

  // Bootcamp SECTION

  .mentorship-bootcamp-section {
    background-color: #f8f2ff;
    padding: 100px 0px;

    > section {
      background-color: #f8f2ff;
    }

    > .mentorship-bootcamp-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: -100px;

      > span {
        margin-right: -10%;
      }
    }
  }
}

// Worktools section

.work-assistance-section {
  margin: 100px auto;
  > div {
    h1 {
      margin-bottom: 30px;
    }
    p {
      width: 50%;
      min-width: 300px;
      font-size: 18px;
    }
    .work-assistance-images-wrap {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      gap: 25px;
      > div {
        margin-right: 20px;
      }
    }
  }
}

// Tracks section

.mentorship-tracks-section {
  background-color: var(--primary-color);
  padding: 50px 0;
  > div {
    > h1 {
      text-align: center;
      color: var(--color-white);
      margin-bottom: 50px;
    }
  }
  .track-card-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 45px;

    > .track-card {
      width: calc(50% - 45px);
      background-color: var(--color-white);
      padding: 25px;
      height: fit-content;
      min-height: 380px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      // margin: 50px;
      > div {
        .icons-wrap {
          margin-bottom: 20px;
          img {
            margin-right: 10px;
          }
        }
        h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}
