.cohort__notification {
  background-color: var(--color-primary-light);
  width: --color-primary---color-primary-light 100%;

  color: black;
  text-align: center;
}
.cohort__notification p {
  padding: 0.8rem 0;
}
