@import "../scss/mixins";

/* hero-section styles */
main {
  h1 {
    font-weight: 700;
    font-size: clamp(2.3rem, 6vw, 3.8rem) !important;
    // line-height: 72px;
    letter-spacing: -0.04em;

    span {
      color: var(--primary-color);
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .note {
    font-size: 14px;
    color: #7d0bfe;
    font-weight: 500;
  }
}

/* why-study-blockchain */
.why-study-blockchain {
  .container {
    @include desktop {
      width: 77%;
    }
  }
  h2 {
    font-weight: 700;
    font-size: clamp(28px, 4.4vw, 48px);

    padding: 10px 10px;
    letter-spacing: -0.04em;
  }
  .text {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .text p {
    padding: 20px 20px 20px 0px;
  }
}

/* benefits */
.benefits {
  background-color: var(--color-black);
  color: var(--color-white);

  .container {
    @include desktop {
      width: 55%;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: -0.04em;
    color: var(--color-white);
    margin-bottom: 32px;
  }

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-primary-light);
  }

  .benefits-list {
    margin-bottom: 32px;

    .benefit {
      display: flex;
      align-items: baseline;
      margin: 19px 0px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        line-height: 150%;
        color: var(--color-white);
      }

      svg {
        margin-right: 20px;
      }
    }
  }
}

/* curriculum section */

/* gains section */
.gains-section {
  background-color: #6a00e2;
  color: #ffffff;
  width: 100%;
  padding: 50px 0;

  .container {
    @include desktop {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .gains_image {
      position: relative;

      justify-self: end;
      // @include mobile {
      //   width: 300px;
      //   margin-top: 200px;
      // }
    }

    .content {
      flex: 1;
      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 66px;
        letter-spacing: -0.04em;
        margin-bottom: 27px;
      }

      .button-container {
        justify-content: start;
      }
    }
  }
  @media screen and (max-width: 928px) {
    .container {
      grid-template-columns: 1fr;
      .gains_image {
        justify-self: center;
      }
    }
  }

  &--list {
    margin-bottom: 32px;

    &-item {
      display: flex;
      align-items: baseline;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin-left: 12px;
      }
    }
  }
}

/* mentors sections */
.mentors-section {
  .heading {
    margin-bottom: 32px;
    font-size: clamp(2.1rem, 6vw, 3.4rem) !important;
    font-weight: 700;
  }
  .description {
    text-align: left;
    margin-bottom: 64px;

    @include desktop {
      width: 873px;
    }
  }

  .mentors-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(379px, 1fr));
    gap: 32px;

    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}

.mentor-card {
  background-color: #fafafa;
  border-radius: 8px;
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;

  .name {
    font-size: 22px;
    font-weight: 700;
    width: 100%;
  }

  .role {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
  }

  .mentor-img {
    height: 100%;
  }
}

.tracks__spacing {
  margin: 250px 10px 150px;
}

.hero__image-banner {
  position: relative;
  background-color: #f8f2ff;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero__banner-subscript {
    background-color: var(--color-black);
    color: var(--color-white);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 78px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 6px 10px 6px 26px;
    display: flex;
    gap: 20px;
    .hero__banner-subscript_text1,
    .hero__banner-subscript_text2 {
      font-family: "Aeonik";
      font-size: 14px;
      // font-weight: 700;
    }
    .hero__banner-subscript_text2 {
      font-weight: 700;
    }
  }

  .hero__trackvector1 {
    left: -12px;
    padding: 0;
    top: 30px;
    position: absolute;
  }

  .hero__trackvector2 {
    right: 0;
    padding: 0;
    top: 36px;
    position: absolute;
  }

  .hero__trackvector3 {
    z-index: 1;
    right: 0;
    padding: 0;
    bottom: -10px;
    position: absolute;
  }
  .hero__trackvector4 {
    z-index: 1;
    left: -44px;
    padding: 0;
    bottom: 50px;
    position: absolute;
  }
}
