.option-tabs {
  margin-top: 0;
  box-sizing: border-box;
  background: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.option-tabs--tab {
  color: var(--color-black);
  background-color: rgba(var(--color-grey-rgb), 0.05);
  border: none;
  font-size: 16px;
  line-height: 150%;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include desktop {
    margin-right: 10px;
    padding: 13px 21px;
    min-width: 135px;
  }

  @include mobile {
    padding: 9px 15px;
    overflow-x: scroll;
    justify-self: start;
  }

  &-bordered {
    @extend .option-tabs--tab;
    border: 2px solid rgba(var(--color-black-rgb), 0.05);
    border-radius: 47px;

    @include mobile {
      border-radius: 30px;
    }

    &:hover {
      color: var(--primary-color);
      background-color: var(--color-white);
      transition: all 0.2s ease-in-out;
    }
  }

  &::after {
    display: none;
  }

  .text {
    @include mobile {
    }
  }

  .icon {
    // display: none;
    display: flex;
    align-items: center;
    margin-right: 8px;

    @include mobile {
      // justify-content: center;
      // padding: 13px 20px;

      & + .text {
        // display: none;

        @include mobile {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 424px) {
    // padding: 8px;
  }

  &.active {
    border: 2px solid var(--primary-color);
    background: var(--color-white);
    box-sizing: border-box;
    color: var(--primary-color);

    .text {
      font-weight: bold;
    }
  }

  &:focus {
    outline: 0;
  }
}

.tabs-content {
  background-color: var(--color-white);
  box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
  border-radius: 0px 0px 15px 15px;
  padding: 20px 0;
}
