@import "./mixins";

.primary-color {
  color: var(--primary-color) !important;
}

.bold {
  font-weight: bold !important;
}

.text-muted {
  color: var(--color-grey) !important;
}

.section-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  letter-spacing: -0.04em;

  @include mobile {
    font-size: 40px;
    line-height: 50px;
  }
}

.sub-section-title {
  font-weight: 500;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: -0.04em;
  margin-bottom: 28px;

  @include mobile {
    font-size: 24px;
    line-height: 30px;
  }
}

.section-description {
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 150%;

  @include mobile {
    font-size: 16px;
    line-height: 150%;
  }
}
