@import "./scss/reset";
@import "./scss/button";
@import "./scss/card";
@import "./scss/form";
@import "./scss/fonts";
@import "./scss/page";
@import "./scss/mixins";
@import "./scss/modal";
@import "./scss/shemmer";
@import "./scss/tooltip";
@import "./scss/typography";
@import "./scss/tab";
@import "./scss/common";

@import "./scss/accordion";

// modules
@import "./modules/home.module.scss";
@import "./modules/footer.module.scss";
@import "./modules/feedback.module.scss";
@import "./modules/cohorts.module.scss";
@import "./modules/cohortOne.module.scss";
@import "./modules/cohortTwo.module.scss";
@import "./modules/cohortThree.module.scss";
@import "./modules/track.module.scss";
@import "./modules/bootcamps.module.scss";

:root {
  --color-black: #0f0f0f;
  --color-black-rgb: 15, 15, 15;
  --primary-color: #7d0bfe;
  --primary-color-rgb: 125, 11, 254;
  --primary-color-inverse: #ffffff;
  --color-primary-light: #ff9edb;
  --success-color: #32cc0e;
  --danger-color: #ef4444;
  --danger-color-rgb: 239, 68, 68;
  --color-white: #ffffff;
  --color-background: #fff3f3;
  --background-color:#F8F2FF;
  --color-background: #f8f2ff;
  --color-red: #ef4444;
  --color-grey: #818181;
  --secondary-success-color: #a2c438;
  --popup-modal--container-max-width: 300px;
  --popup-modal--description-font-size: 16px;
  --section-max-width: 1200px;
  --page-container-margin: 1.25rem;

  @include desktop {
    --page-container-margin: 8.4375rem;
  }
}
