@import "./scss/reset";
@import "./scss/button";
@import "./scss/card";
@import "./scss/form";
@import "./scss/fonts";
@import "./scss/page";
@import "./scss/modal";
@import "./scss/shemmer";
@import "./scss/tooltip";
@import "./scss/typography";
@import "./scss/tab";

:root {
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --primary-color: #7d0bfe;
  --primary-color-rgb: 125, 11, 254;
  --primary-color-inverse: #ffffff;
  --success-color: #32cc0e;
  --danger-color: #ef4444;
  --danger-color-rgb: 239, 68, 68;
  --color-white: #ffffff;
  --color-background: #fff3f3;
  --color-red: #ef4444;
  --secondary-success-color: #a2c438;
  --popup-modal--container-max-width: 300px;
  --popup-modal--description-font-size: 16px;
}
